<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body{
          background-image:url(https://d12oja0ew7x0i8.cloudfront.net/images/news/ImageForNews_58416_16463184739088911.jpg) ;
          background-repeat: no-repeat;
          background-size:cover;
          position: relative;
          height: 600px;
          
        }
      </style>
</head>
<body>
    <div style="padding: 50px;color: beige;">
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <label style="width: 150px;" >Company Name</label>
            <input  type="text" name="cname" value="{{aj.cnm}}" style="margin-bottom: 50px" size="50"><br>
            <label style="width: 150px;">Designation</label>
            <input  type="text" name="desg" value="{{aj.ttl}}" style="margin-bottom: 50px" size="50"><br>
            <h3>Applicant Details:</h3><br>
            <label style="width: 150px;" >Name</label>
            <input  type="text" name="name" value="{{name}}" style="margin-bottom: 50px" size="50"><br>
            <label style="width: 150px;">Email</label>
            <input  type="email" name="email" value="{{email}}" style="margin-bottom: 50px" size="50"><br>
            <label style="width: 150px;" >Qualification</label>
            <input  type="text" name="quali"  style="margin-bottom: 50px" size="50"><br>
            <label style="width: 150px;">Phone No</label>
            <input  type="text" name="phone"  style="margin-bottom: 50px" size="50"><br>
            <div style="display: inline-flex;margin-bottom: 50px;">
                <label style="width: 150px;">Experience</label>
                <select class="form-select" aria-label="Default select example" name="exp" style="width: 300px;">
                <option selected>Select years of experience</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value=">5">>5</option>
            </select><br>
            </div><br>
            <label style="width: 150px;">Resume</label>
            <input  type="file" name="rsm" style="margin-bottom: 50px" size="50"><br>
            <button type="submit" class="btn btn-secondary">Apply</button>

        </form>
    </div>
</body>
</html>